:root {
  /* fundo preto */
  --bg-main: black;

  /* texto primario */
  --text-primary: white;  

  /* texto secundario */
  --text-secondary: #ccc;

  /* destaque */
  --emphasis: aquamarine
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior:smooth;
}

body {
  background-color: var(--bg-main);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 120px;
  margin: 0 auto;
  background-color: var(--bg-main);
  color: var(--text-primary);
  box-shadow: 0 2px 15px var(--bg-main);
  padding: 0 40px;
}

.nome {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.descricao {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--text-secondary);
}

.nome-descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.img-nome-descricao {
  display: flex;
  gap: 20px;
}

.img-nome-descricao img {
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu a.ativo {
  color: var(--emphasis);
} 

.menu a{
  color: var(--text-secondary);
  text-decoration: none;
  transition: 0.2s;
}

.menu a:hover {
  color: cadetblue;
}

.conteudo {
  display: flex;
  flex-direction: column;

  background-image:
    linear-gradient(to right, var(--bg-main) 20%, #00000000),
    linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%),
    linear-gradient(to top, rgba(0,0,0,0.8) 0.0%, rgba(0,0,0,0) 100%),
    url(imagens/notebook.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 20px;
  height: 460px;
  gap: 4px;
  justify-content: center;
  padding: 0 100px;
  font-size: 30px;
  text-shadow: 5px 5px 15px var(--bg-main);
  position: relative;
}

.conteudo .subtitulo {
  display: flex;
  color: var(--emphasis);
}

.conteudo .titulo {
  display: flex;
  color: var(--text-primary);
  font-size: 50px;
}

.conteudo .descricao {
  display: flex;
  color: var(--text-secondary);
  max-width: 400px;
}

.ferramentas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
}

.titulo {
  color: var(--emphasis);
}

.descricao.geral {
  font-size: 25px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card:hover {
  transform:scale(1.05);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: var(--text-primary);
  border-radius: 20px;
  gap: 10px;
  transition: 0.2s;
}

.imagem-cards {
  max-width: 80px;
  max-height: 80px;
}

.titulo-cards {
  color: var(--bg-main);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 100px 0 0;
}

.card-projeto {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.projeto {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  background-color: var(--text-primary);
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  text-align: center;
  gap: 10px;
  transition: 0.2s;
}

.projeto:hover {
  transform: scale(1.02);
}

.projeto img {
  max-width: 100%;
  max-height: 80%;
}

.projeto p {
  margin: 0 10px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 50px;

  background: linear-gradient(
    to bottom,
    rgb(14, 13, 20, 0) 0%,
    rgb(14, 13, 20, 0.7) 15%,
    rgb(14, 13, 20) 30%
  );

  padding: 100px 0;
  margin-top: 100px;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

footer .subtitulo {
  color: var(--text-primary);
  font-size: 25px;
}

.entre-em-contato {
  color: var(--text-secondary);
  font-size: 15px;
}

footer .titulo {
  font-size: 21px;
}

footer img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cards-rodape {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-rodape {
  display: flex;
  padding: 10px;
  gap: 10px;
  color: var(--text-primary);
  background-color: rgb(20, 20, 30);
  border: 1px solid rgb(9, 9, 9);
  border-radius: 10px;
  transition: 0.2s;
}

.card-rodape:hover {
  transform: scale(1.05);
}

.card-rodape-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-primary);
  gap: 5px;
}